@import url('./Styles/Reset.css');
@import url('./Styles/Vars.css');
@import url('./Styles/MediaQueries.css');

body{
  background-color: var(--color-black);
  font-family: var(--font-dm-sans);
}

h1{
  color: var(--color-white);
}